<div  
  class="container"
  ntPagingContainer
  ntScrollLoading
  #paging="ntPaging"
  url="/miniapp/queryOrganization"  
>
  <ng-container *ntDataPlaceHolder>
    <div class="item" *ngFor="let item of paging.data$ | async">
      {{item.name}}
    </div>
  </ng-container>    
</div>
<div class="total">
  总条数:{{paging.total}}
</div>
<div class="operators" style="text-align: right;padding:10px;width: 120px;">
  <button (click)="paging.reset()">刷新</button>
</div>
<!-- ddd  -->
<div  
  class="container2"
  ntPagingContainer
  #paging2="ntPaging"
  url="/miniapp/queryOrganization"  
>
  <ng-container *ntDataPlaceHolder>
    <div class="item" *ngFor="let item of paging2.data$ | async">
      {{item.name}}
    </div>
  </ng-container>    
</div>
<div class="total">
  总条数:{{paging2.total}}
</div>
<div class="operators" style="text-align: right;padding:10px;width: 120px;">
  <button (click)="paging2.reset()">刷新</button>
</div>
